
<table id="myArtists" class="table table-striped table-hover dataTable no-footer dtr-inline" width="100%">
    <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Notify Me</th>
            </tr>
        </thead>
        <tbody>
            {{#each myArtists}}
            <tr>
                <td><img src="{{this.images.[0].url}}" width="100px" height="100px" /></td>
                <td>{{this.name}}</td>
                <td>
                    {{#if this.notifiable}}
                        <input type="checkbox" class="notify" value="{{this.id}}" checked>
                    {{else}}
                        <input type="checkbox" class="notify" value="{{this.id}}">
                    {{/if}}
                </td>
            </tr>
              {{/each}}
        </tbody>

</table>


<button id="saveArtists" type="button" class="btn btn-primary pull-right">Save</button>

<script>
    $(document).ready(function(){
        $('#myArtists').dataTable( {
            "ordering": false
        });
        
        $('#saveArtists').click(function (){
            var checkedArtists = [];

            $('.notify:checkbox:checked').each(function(){
                
                checkedArtists.push($(this).val());
            });
            
            $.ajax({
	            type: "POST",
    	        url: "/wizard/step1",
      	        data: { chosen: checkedArtists },
       	        success: function() {
                       console.log("Success");
       		        window.location.href="/wizard/step2";
       	        },
       	        dataType: "json"
	        });
        });
        
    });
</script>
